<li>
    {{burger_name}}

    <button id="change-state" data-id="{{id}}" data-newState="{{eaten}}">
        {{#if eaten}}Eat-the-Burger{{else}}Eaten{{/if}}
    </button>

    <button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>